/*******************
****    RESET    ***
********************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*******************
**    GENERIC    ***
********************/

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: inherit;
}

.marginZeroAuto{
    margin: 0 auto;
}

.colorWhite{ color: white; }

/*******************
***    HEADER    ***
********************/

header{
    background-color: #fa691f;
}

nav{
    min-height: 55px;
    max-width: 1100px;
}

nav img{
    height: 30px;
}

nav i{
    padding-right: 5px;
}